@{
    ViewBag.Title = "Credit Note EInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Credit Note EInvoice</h5>
        </div>
        <div class="card-body">
            <p class="mb-0">Credit Note EInvoice module.</p>
        </div>
    </div>
</div>
